*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


article{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 50vh;
    width: 50vh;
}

input{
    border: 2px solid black;
}

