#sodoku{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
}

#sodoku div{
    border: 2px solid orange;
    text-align: center;
    font-size: 20px;
}